<h1 align="center">Listing all Bookings</h1>

<div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
            <%= link_to "Create a new Booking", new_ninety_ten_booking_path, class: "btn btn-xs btn-success" %>
        </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Date</th>
      <th scope="col">Guests</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    
<% @ninety_ten_bookings.each do |ninety_ten_booking| %>
    <tr>
      <th scope="row"></th>
      <td><%= link_to ninety_ten_booking.firstname__c, ninety_ten_booking_path(ninety_ten_booking) %></td>
      <td><%= ninety_ten_booking.date__c  %></td>
      <td><%= ninety_ten_booking.guests__c  %></td>
      <td><%= ninety_ten_booking.status__c  %></td>
      <td><%= link_to "Edit this ninety_ten_booking", edit_ninety_ten_booking_path(ninety_ten_booking), class: "btn btn-xs btn-primary" %></td>
      <td><%= link_to "Delete this ninety_ten_booking", ninety_ten_booking_path(ninety_ten_booking), method: :delete,
                                                                                    data: {confirm: "Are you sure you want to delete this Booking?"}, 
                                                                                    class: "btn btn-xs btn-danger" %></td>
    </tr>
<% end %>

  </tbody>
</table>
    
