<h1 align="center">Listing all Bookings</h1>

<div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
            <%= link_to "Create a new Booking", new_ninety_ten_booking_path, class: "btn btn-xs btn-success" %>
        </div>
</div>

<table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Date</th>
          <th scope="col">Guests</th>
          <th scope="col">Status</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
</table>
<% @ninety_ten_bookings.each do |ninety_ten_booking| %>
<table class="table">    
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
    </tr>
  </tbody>
</table>
    
    
    <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
            <div class="ninety_ten_booking-title">
               [ <%= link_to ninety_ten_booking.firstname__c, ninety_ten_booking_path(ninety_ten_booking) %> ]
            </div>
            <div class="ninety_ten_booking-body">
                Date: <%= ninety_ten_booking.date__c  %><br>
                Guests:<%= ninety_ten_booking.guests__c  %><br>
                Status: <%= ninety_ten_booking.status__c  %>
            </div>
            <div class="ninety_ten_booking-actions">
                <%= link_to "Edit this ninety_ten_booking", edit_ninety_ten_booking_path(ninety_ten_booking), class: "btn btn-xs btn-primary" %>
                <%= link_to "Delete this ninety_ten_booking", ninety_ten_booking_path(ninety_ten_booking), method: :delete,
                                                                                    data: {confirm: "Are you sure you want to delete this Booking?"}, 
                                                                                    class: "btn btn-xs btn-danger" %>
            </div>
        </div>
    </div>
<% end %>
    
