<h2 align="center">Booking for: <%= @ninety_ten_booking.firstname__c %> <%= @ninety_ten_booking.lastname__c %></h2>
<div class="well col-xs-8 col-xs-offset-2">
    <h4 class="center description"><strong>Booking Details</strong></h4>
    <hr>Id: <%= @ninety_ten_booking.id %>
    <hr>Date: <%= @ninety_ten_booking.date__c %>
    <hr>Time: <%= @ninety_ten_booking.time__c.strftime("%H:%M") %>
    <hr>First Name: <%= @ninety_ten_booking.firstname__c %>
    <hr>Last Name: <%= @ninety_ten_booking.lastname__c %>
    <hr>Phone Number: <%= @ninety_ten_booking.phonenumber__c %>
    <hr>Number of Guests: <%= @ninety_ten_booking.guests__c %>
    <hr>Status: <%= @ninety_ten_booking.status__c %>
    <hr>Username: <%= @ninety_ten_booking.username__c %>
    <hr>Comments: <%= simple_format(@ninety_ten_booking.comments__c) %>
    <hr>
    <div class="ninety_ten_booking-actions">
        <%= link_to "View All", ninety_ten_bookings_path, class: "btn btn-xs btn-success" %>                                                                            
        <%= link_to "Edit", edit_ninety_ten_booking_path(@ninety_ten_booking), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete", ninety_ten_booking_path(@ninety_ten_booking), method: :delete,
                                                                            data: {confirm: "Are you sure you want to delete this booking?"}, 
                                                                            class: "btn btn-xs btn-danger" %>
    </div>
</div>


    

