<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @ninety_ten_booking.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @ninety_ten_booking.time %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @ninety_ten_booking.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @ninety_ten_booking.lastName %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @ninety_ten_booking.phoneNumber %>
</p>

<p>
  <strong>Noofguests:</strong>
  <%= @ninety_ten_booking.noOfGuests %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @ninety_ten_booking.comments %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ninety_ten_booking.status %>
</p>

<p>
  <strong>Username:</strong>
  <%= @ninety_ten_booking.username %>
</p>

<%= link_to 'Edit', edit_ninety_ten_booking_path(@ninety_ten_booking) %> |
<%= link_to 'Back', ninety_ten_bookings_path %>
